*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ===== Android / Gradle =====
*.apk
*.aab
.gradle/
build/
*/build/

# ===== Local SDK / system files =====
Thumbs.db

# ===== Android Studio =====
.idea/
.idea/caches/
.idea/libraries/

# ===== Logs =====
*.log

# ===== Firebase / Secrets =====
google-services.json

# ===== Keystore (VERY IMPORTANT) =====
*.jks
*.keystore